@model IEnumerable<AspNetCoreCrud.Models.Motorista>

@{
    ViewData["Title"] = "Lista de motorista";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Motorista</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PrimeiroNome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SegundoNome)
			</th>

			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.PrimeiroNome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SegundoNome)
			</td>

			<td class="text-right">
				<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
				<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
				<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
			</td>
		</tr>
}
    </tbody>
</table>
